<form action="http://localhost:8080/cookie/setCookie" method="post">
    <input type="text" name="inputName" id="inputName">
    <input type="email" name="inputEmail" id="inputEmail">
    <input type="submit" value="Enviar">
</form>