<div>
    Todo listo para trabajar con websocket
</div>

<script src="/socket.io/socket.io.js"></script> {{!-- Antes que el script propio --}}
<script src="/js/index.js"></script>

{{!-- /js/index.js --}}